<!--<!doctype html>-->
<!--<html lang="en" data-bs-theme="auto" xmlns:th="http://thymeleaf.org">-->
<!--<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">-->
<!--    <th:block th:fragment="content">-->
<!--        <div class="nav-scroller py-1 mb-3 border-bottom">-->
<!--            <nav class="nav nav-underline justify-content-between">-->
<!--                <a class="nav-item nav-link link-body-emphasis" th:href="@{/tc/tcmain}">Main</a> &lt;!&ndash;메인&ndash;&gt;-->
<!--                <a class="nav-item nav-link link-body-emphasis" th:href="@{/tc/notice}">Notice</a> &lt;!&ndash;공지&ndash;&gt;-->
<!--                <a class="nav-item nav-link link-body-emphasis" href="#">Today Words</a> &lt;!&ndash;오늘의 말씀&ndash;&gt;-->
<!--                <a class="nav-item nav-link link-body-emphasis" href="#">QT</a>-->
<!--                <a class="nav-item nav-link link-body-emphasis active" href="#">Meditation</a> &lt;!&ndash;성경말씀묵상&ndash;&gt;-->
<!--                <a class="nav-item nav-link link-body-emphasis" href="#">News</a> &lt;!&ndash;뉴스&ndash;&gt;-->
<!--                <a class="nav-item nav-link link-body-emphasis" href="#">Tanscribe</a> &lt;!&ndash;필사&ndash;&gt;-->
<!--                <a class="nav-item nav-link link-body-emphasis" href="#">Donate</a> &lt;!&ndash;기부하기&ndash;&gt;-->
<!--                <a class="nav-item nav-link link-body-emphasis" href="#">Q&A</a>-->
<!--            </nav>-->
<!--        </div>-->
<!--        <div>-->
<!--            <a style="float: right;" th:href="@{/tc/mengister}">-->
<!--                <button type="button" class="btn btn-outline-primary">REGISTER</button>-->
<!--            </a>-->
<!--        </div>-->
<!--        <br>-->
<!--        &lt;!&ndash;        <div style="float: none;"></div>&ndash;&gt;-->
<!--        <main class="container">-->
<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">#</th>-->
<!--                    <th scope="col">Title</th>-->
<!--                    <th scope="col">Writer</th>-->
<!--                    <th scope="col">Reg Date</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr th:each="dto: ${result.dtoList}">-->
<!--                        <th>-->
<!--                            aa-->
<!--                        </th>-->
<!--                    </tr>-->
<!--&lt;!&ndash;                <tr >&ndash;&gt;-->
<!--&lt;!&ndash;                    <th scope="row">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a th:href="@{/guestbook/read(gno = ${dto.gno}, page = ${result.page},&ndash;&gt;-->
<!--&lt;!&ndash;                        type = ${pageRequestDTO.type},&ndash;&gt;-->
<!--&lt;!&ndash;                        keyword = ${pageRequestDTO.keyword} )}">[[${dto.gno}]]</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </th>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>[[${dto.title}]]</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>[[${dto.writer}]]</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </main>-->
<!--    </th:block>-->
<!--</th:block>-->
<!--</html>-->
