<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <br><br>
        <p class="mt-4" name="topic" style="font-weight: bold; font-size: large;">[[${dto.topic}]]</p>
        <h3 class="mt-4" name="title">[[${dto.title}]]</h3>
        <p name="visitorCount">Read: [[${dto.visitorCount}]]</p>

        <div class="form-group">
            <input hidden="hidden" class="form-control" name="nno" th:value="${dto.nno}" disabled readonly>
        </div>
        <br>
        <div class="form-group">
            <textarea class="form-control" rows="10" name="content" disabled readonly>[[${dto.content}]]</textarea>
        </div>
        <br>
        <div class="form-group">
            <label>Writer:</label>
            <input type="text" class="form-control" name="writerName" th:value="${dto.writerName}" disabled readonly>
        </div>
        <br>
        <div class="form-group">
            <a th:href="@{/tc/notice_modify(nno = ${dto.nno}, page = ${requestDTO.page}, type=${requestDTO.type},
                            keyword=${requestDTO.keyword})}">
                <button type="button" class="btn btn-primary form-group">Modify</button>
            </a>
            <a th:href="@{/tc/notice(page = ${requestDTO.page}, type=${requestDTO.type},
                            keyword=${requestDTO.keyword})}">
                <button type="button" class="btn btn-info form-group">Notice</button>
            </a>
        </div>
        <br>



        <br>
        <br>
    </th:block>
</th:block>
</html>