<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://thymeleaf.org">
<th:block th:replace="~{/layout/basic1 :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
<div class="container">
    <main>
        <div class="row g-5">
            <form th:action="@{/tc/notice_register}" th:method="post">
                <br>
                <h3 class="mb-3">Notice Register</h3>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Topic</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="topic">
                        <option selected disabled hidden="hidden">-------------</option>
                        <option value="Event">Event</option>
                        <option value="News">News</option>
                        <option value="Today">Today</option>
                        <option value="Another">Another</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label class="form-label">Title</label>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGroup1" name="title" placeholder="Enter Title" required>
                        <label for="floatingInputGroup1">Title</label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="form-label">Content</label>
                    <div class="form-floating">
                        <textarea class="form-control" id="floatingInputGroup2" rows="10" name="content"></textarea>
                        <label for="floatingInputGroup2">Content</label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label class="form-label">Writer Email</label>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputGroup3" name="writerEmail" placeholder="Enter Writer">
                        <label for="floatingInputGroup3">Writer Email</label>
                    </div>
                </div>
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="noticeComment" id="exampleRadios1" value="1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Comments available
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="noticeComment" id="exampleRadios2" value="0">
                    <label class="form-check-label" for="exampleRadios2">
                        Comments not possible
                    </label>
                </div>
                <br>

                <button type="submit" class="w-100 btn btn-primary btn-lg">Submit</button>
<!--                w-100 btn btn-primary btn-lg-->
                <br>
                <br>
            </form>
        </div>
    </main>
</div>
    </th:block>
</th:block>
</html>
